version: "3.8"
services:
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Cesarpita21@
      MYSQL_DATABASE: acerto_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=mysql
      - DB_USER=root
      - DB_PASS=Cesarpita21@
      - DB_NAME=acerto_db
      - DB_PORT=3306
    depends_on:
      - mysql

volumes:
  mysql_data:
